.container {
  width: 100%;
  height: calc(100vh - 64px); // calculate for header
}

.sidenav {
  padding: 20px;
  background-color: #F0F0EC
}

mat-divider {
  margin: 0.5rem 0;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

