<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="drawerOpen()">
    <ul>
      <li>
        <a mat-button [routerLink]="['/dice']" routerLinkActive='active'>Dice</a>
      </li>
       <mat-divider></mat-divider>
      <li>
        <a mat-button [routerLink]="['/example-form']" routerLinkActive="active">Example Form</a>
      </li>
      <mat-divider></mat-divider>
      <li>
        <a mat-button [routerLink]="['/pictures']" routerLinkActive="active">Pictures</a>
      </li>
    </ul>

  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet />
  </div>

</mat-drawer-container>
