#menu-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  #hamburger {
    margin-right: 0 !important;
    margin-left: 0 !important;
    }
}
