<div class="container flex flex-col items-center">

  @for (pic of pictures; track $index) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{pic.id}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        [src]="pic.urls.regular"
        [alt]="pic.alt_description"
        (click)="onClick.emit(pic.id)"
      />
      <mat-card-content>
        <p>
          {{pic.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton>LIKE</button>
        <button matButton>SHARE</button>
      </mat-card-actions>
    </mat-card>
  }

</div>
